@import 'tailwindcss';

:root {
  --background: #fcfcfe;
  --foreground: #7b7c9c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-book: var(--font-eb-garamond);
  --font-mono: var(--font-geist-mono);
}
